In [26]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import google_key

In [27]:
cities_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
cities_df

,Unnamed: 0,city,lat,long,max temp,humidity,cloudiness,wind speed,country,date
0,0,Cairns,-16.9167,145.7667,78.80,94,40,1.12,AU,2021-01-05 20:36:08
1,1,Torbay,47.6666,-52.7314,36.00,100,90,24.16,CA,2021-01-05 20:36:58
2,2,Kosjerić,43.9961,19.9069,37.40,64,0,4.70,RS,2021-01-05 20:36:58
3,3,Longyearbyen,78.2186,15.6401,21.20,73,75,18.34,SJ,2021-01-05 20:36:58
4,4,Port Alfred,-33.5906,26.8910,71.01,89,96,8.05,ZA,2021-01-05 20:36:58
...,...,...,...,...,...,...,...,...,...,...
550,550,Greensburg,40.3015,-79.5389,35.01,100,90,8.05,US,2021-01-05 20:36:31
551,551,Sahagún,8.9462,-75.4427,88.92,46,73,4.16,CO,2021-01-05 20:37:46
552,552,Boulder City,35.9786,-114.8325,62.01,24,1,10.29,US,2021-01-05 20:37:46
553,553,Weyburn,49.6668,-103.8511,33.80,86,99,6.93,CA,2021-01-05 20:37:46
554,554,Nanchang,28.6833,115.8833,43.48,78,100,10.11,CN,2021-01-05 20:37:46

In [28]:
gmaps.configure(api_key=google_key)

In [29]:
locations = cities_df[["lat", "long"]].astype(float)
humidity = cities_df["humidity"].astype(float)

In [30]:
cities_df = cities_df.dropna()

In [31]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
weather_conditions_df = cities_df.loc[(cities_df['max temp'] < 80) &
                                      (cities_df['max temp'] > 70) & (cities_df['max temp'] < 80) & \
                                      (cities_df['wind speed'] < 10) & (cities_df['cloudiness'] == 0)].dropna()
weather_conditions_df

,Unnamed: 0,city,lat,long,max temp,humidity,cloudiness,wind speed,country,date
10,10,Saint-Philippe,-21.3585,55.7679,77.00,73,0,4.70,RE,2021-01-05 20:36:59
104,104,Kabo,7.6994,18.6290,77.67,18,0,3.42,CF,2021-01-05 20:37:06
250,250,Bilma,18.6853,12.9164,73.20,20,0,5.28,NE,2021-01-05 20:37:20
277,277,Agadez,19.7500,10.2500,76.78,18,0,9.51,NE,2021-01-05 20:37:23
278,278,Hambantota,6.1241,81.1185,73.40,100,0,2.24,LK,2021-01-05 20:37:23
290,290,Bosaso,11.2842,49.1816,73.42,63,0,4.54,SO,2021-01-05 20:37:24
317,317,Gogrial,8.5332,28.1004,77.07,24,0,3.87,SS,2021-01-05 20:37:26
345,345,Sambava,-14.2667,50.1667,76.32,85,0,6.46,MG,2021-01-05 20:37:28
356,356,Leer,8.3018,30.1418,79.75,24,0,6.20,SS,2021-01-05 20:37:29
357,357,Umluj,25.0213,37.2685,74.71,65,0,7.58,SA,2021-01-05 20:37:29
449,449,Salalah,17.0151,54.0924,73.40,27,0,6.93,OM,2021-01-05 20:37:38
471,471,Sibut,5.7180,19.0739,76.24,48,0,0.72,CF,2021-01-05 20:37:40
537,537,Malakal,9.5334,31.6605,78.76,23,0,6.24,SS,2021-01-05 20:37:45
542,542,Raja,8.4596,25.6780,73.58,27,0,4.81,SS,2021-01-05 20:37:45

In [33]:
hotel_df = weather_conditions_df
hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,city,lat,long,max temp,humidity,cloudiness,wind speed,country,date,Hotel Name
10,10,Saint-Philippe,-21.3585,55.7679,77.00,73,0,4.70,RE,2021-01-05 20:36:59,
104,104,Kabo,7.6994,18.6290,77.67,18,0,3.42,CF,2021-01-05 20:37:06,
250,250,Bilma,18.6853,12.9164,73.20,20,0,5.28,NE,2021-01-05 20:37:20,
277,277,Agadez,19.7500,10.2500,76.78,18,0,9.51,NE,2021-01-05 20:37:23,
278,278,Hambantota,6.1241,81.1185,73.40,100,0,2.24,LK,2021-01-05 20:37:23,
290,290,Bosaso,11.2842,49.1816,73.42,63,0,4.54,SO,2021-01-05 20:37:24,
317,317,Gogrial,8.5332,28.1004,77.07,24,0,3.87,SS,2021-01-05 20:37:26,
345,345,Sambava,-14.2667,50.1667,76.32,85,0,6.46,MG,2021-01-05 20:37:28,
356,356,Leer,8.3018,30.1418,79.75,24,0,6.20,SS,2021-01-05 20:37:29,
357,357,Umluj,25.0213,37.2685,74.71,65,0,7.58,SA,2021-01-05 20:37:29,
449,449,Salalah,17.0151,54.0924,73.40,27,0,6.93,OM,2021-01-05 20:37:38,
471,471,Sibut,5.7180,19.0739,76.24,48,0,0.72,CF,2021-01-05 20:37:40,
537,537,Malakal,9.5334,31.6605,78.76,23,0,6.24,SS,2021-01-05 20:37:45,
542,542,Raja,8.4596,25.6780,73.58,27,0,4.81,SS,2021-01-05 20:37:45,

In [34]:
hotel_search_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {  
    "keyword": "hotel", 
    "radius": "5000",
    "type": "hotel",
    "key": google_key,
}

In [35]:
for index, row in hotel_df.iterrows():
    latitude = row['lat']
    longitude = row['long']
    city_name = row['city']
    
    params["location"] = f"{latitude},{longitude}"
    response = requests.get(hotel_search_url, params=params).json()
    results = response['results']
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except(IndexError):
        print('"Missing field/result... skipping."')
hotel_df = hotel_df.loc[hotel_df['Hotel Name']!=""]        
hotel_df

"Missing field/result... skipping."
"Missing field/result... skipping."
"Missing field/result... skipping."
"Missing field/result... skipping."
"Missing field/result... skipping."
"Missing field/result... skipping."
"Missing field/result... skipping."

,Unnamed: 0,city,lat,long,max temp,humidity,cloudiness,wind speed,country,date,Hotel Name
10,10,Saint-Philippe,-21.3585,55.7679,77.00,73,0,4.70,RE,2021-01-05 20:36:59,Pinpin d'Amour
278,278,Hambantota,6.1241,81.1185,73.40,100,0,2.24,LK,2021-01-05 20:37:23,The Peacock Beach Hotel Hambantota
290,290,Bosaso,11.2842,49.1816,73.42,63,0,4.54,SO,2021-01-05 20:37:24,Nayruus Hotel
345,345,Sambava,-14.2667,50.1667,76.32,85,0,6.46,MG,2021-01-05 20:37:28,Carrefour
357,357,Umluj,25.0213,37.2685,74.71,65,0,7.58,SA,2021-01-05 20:37:29,HP Red Sea Hotel
449,449,Salalah,17.0151,54.0924,73.40,27,0,6.93,OM,2021-01-05 20:37:38,HYATT AL WADI SALALAH HOTEL
537,537,Malakal,9.5334,31.6605,78.76,23,0,6.24,SS,2021-01-05 20:37:45,Nile Palace Hotel

In [36]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "long"]]

In [37]:
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))